
<section class="donatedVehiclesSectionHomePage" class="mb-8 lg:mb-16">
	<div class="flex flex-col">
		
		<h2 class="text-2xl lg:text-6xl tracking-tight font-extrabold text-emerald-600 text-center pb-6" 
			[innerText]="title"></h2>
		
		<p class="justify-content-center max-w-screen-xl text-center font-light text-slate-700 text-lg lg:text-xl text-pretty leading-tight m-auto"
			[innerText]="description"></p>

		<div class="flex gap-4 overflow-hidden py-8">
			@for (image of images; track $index) {
				<div class="flex gap-4" 
					[ngClass]="[$index %2 ===0 ? 'flex-col' : 'flex-col-reverse']">
					<img [src]="assetsPath + image.src_v"
						[title]="image.title_v"
						[alt]="image.alt_v"
						class="object-cover h-auto w-full rounded-lg md:rounded-2xl lg:rounded-3xl">

					<img [src]="assetsPath + image.src_h"
						[title]="image.title_h"
						[alt]="image.alt_h"
						class="object-cover h-auto w-full rounded-lg md:rounded-2xl lg:rounded-3xl">
				</div>
			}
		</div>

	</div>
</section>