
<section id="heroSectionHomePage">
	<div class="mx-6 aspect-[2/1] m-auto rounded-3xl bg-cover bg-top bg-[url('/assets/images/home/hero.jpg')] flex text-white">
		<div class="flex flex-col items-center m-auto">
			
			<h1 class="text-6xl tracking-tight leading-none font-extrabold max-w-6xl text-balance text-center pb-8" [innerText]="title"></h1>
			
			<p class="max-w-2xl text-center font-light text-slate-300 text-2xl text-pretty pb-8" [innerText]="description"></p>
			
			<div class="flex flex-row gap-6">
				<app-donate-button></app-donate-button>
				<app-donate-car-button></app-donate-car-button>
			</div>
		
		</div>
	</div>
</section>