
<section id="heroSectionHomePage" class="md:px-3 lg:px-6 mb-8 lg:mb-16">
	<div class="flex flex-col justify-between text-white w-full aspect-[16/7] m-auto md:rounded-2xl lg:rounded-3xl bg-cover bg-top bg-[url('/assets/images/about/hero.jpg')]">	
		<div class="flex flex-col items-center mx-auto max-w-4xl pt-6 lg:pt-20 px-4 pb-6 md:pb-32 lg:pb-6">
			
			<h1 class="text-3xl lg:text-7xl tracking-tight leading-none font-extrabold text-balance text-center pb-32 md:pb-3 lg:pb-6" [innerText]="title"></h1>
			
			<p class="text-center font-light text-slate-300 text-lg lg:text-2xl text-pretty pb-6 md:pb-3 lg:pb-6 leading-tight" [innerHTML]="description"></p>
		
		</div>
	</div>
</section>