<section id="spotlightSectionHomePage">
    <div class="flex overflow-hidden gap-4 lg:gap-8 h-16 lg:h-24 my-8 lg:my-12 mx-8">
        @for (post of news; track $index) {
            <a [href]="post.href" target="_blank" class="newspaper-logo">
                <img class="h-full max-w-sm" 
                    [src]="assetsPath + post.logo" 
                    [title]="organizationName + linking_word + post.title"
                    [alt]="post.title">
            </a>
        }
    </div>
</section>