<section class="socialMediaSectionHomePage" class="mb-8 lg:mb-16">
	
	<h2 class="text-2xl lg:text-6xl tracking-tight font-extrabold text-emerald-600 text-center pb-6" 
		[innerText]="title"></h2>

	<div class="max-w-5xl m-auto flex flex-col lg:flex-row py-8 gap-6">
		
		<div class="basis-1 lg:basis-1/3 border rounded-xl lg:rounded-3xl overflow-clip text-center m-auto">
			<a class="twitter-timeline" 
				href="https://twitter.com/carforukraine?ref_src=twsrc%5Etfw"
				height="440"
				width="340">
				<span class="pt-8 w-full" height="440" width="340">
					Tweets by Car for Ukraine
				</span>
			</a>
		</div>
		
		<div class="basis-1 lg:basis-1/3 border rounded-xl lg:rounded-3xl overflow-clip py-1 m-auto" height="440" width="340">
			<iframe width="340" height="440" src="https://www.instagram.com/car4ukraine.com_official/embed/" frameborder="0">
				<span class="pt-8 w-full" height="440" width="340">
					Instagram of Car for Ukraine
				</span>
			</iframe>
		</div>
		
		<div class="basis-1 lg:basis-1/3 border rounded-xl lg:rounded-3xl overflow-clip m-auto" height="440" width="340">
			<iframe src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/car4ukraine/&tabs=timeline&width=340&height=440&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="440" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
				<span class="pt-8 w-full" height="440" width="340">
					Facebook of Car for Ukraine
				</span>
			</iframe>
		</div>

	</div>

</section>