
<section class="ongoingFundraiserSectionHomePage" class="mb-8 lg:mb-16">
	
	<h2 class="text-2xl lg:text-6xl tracking-tight font-extrabold text-emerald-600 text-center pb-6" 
		[innerText]="title"></h2>

	<div class="flex">
		
		<div class="max-w-3xl m-auto h-full">
			<div class="flex flex-col gap-4 md:rounded-2xl lg:rounded-3xl bg-emerald-50 overflow-clip">
				
				<div class="relative">
					<img [src]="banner.src"
						[title]="banner.title"
						[alt]="banner.alt"
						class="object-cover h-auto w-full rounded-b-none">
				</div>
	
				<div class="px-12 pb-12 pt-4 text-slate-700 text-lg lg:text-xl">
					<h3 [innerHTML]="banner.title" class="font-bold text-xl lg:text-3xl text-emerald-600"></h3>
					<br>
					<p [innerHtml]="description" class="font-ligh text-pretty leading-tight"></p>
				</div>
	
			</div>		
		</div>

		<div class="max-w-md h-full m-auto">
			<div class="flex flex-col gap-4 md:rounded-2xl lg:rounded-3xl bg-emerald-50 overflow-clip">
				
				<div class="relative">
					<img [src]="banner.src"
						[title]="banner.title"
						[alt]="banner.alt"
						class="object-cover h-auto w-full rounded-b-none">
				</div>
	
				<div class="px-12 pb-12 pt-4 text-slate-700 text-lg lg:text-xl">
					<h3 [innerHTML]="banner.title" class="font-bold text-xl lg:text-3xl text-emerald-600"></h3>
					<br>
					<p [innerHtml]="description" class="font-ligh text-pretty leading-tight"></p>
				</div>
	
			</div>		
		</div>


	</div>
</section>