<div class="flex justify-center pt-28 bg-[#DDE2E7] pb-12">
  <div class="max-w-[1330px] w-full flex max-md:flex-col">
    <app-contact-us-section-component class="!bg-[#DDE2E7] w-1/2 pt-0 max-lg:px-2.5 max-lg:w-full"/>
    <div class="flex w-1/2 justify-end items-end max-lg:px-2.5 max-lg:w-full">
      <div class="bg-white max-w-[437px] w-full h-full max-h-[561px] flex justify-center flex-col items-center rounded-md p-5">
        <img class="max-w-[214px]  max-h-[214px] mb-5" src="assets/images/profile.png" alt="profile">
        <p class="text-xl font-tektur text-mainColor" i18n>Ivan Oleksii</p>
        <span class="text-base font-tektur text-[#919EAB] mb-10" i18n>Marketing Director </span>
        <span class="font-tektur text-mainColor" i18n>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.Accusamus doloribus earum illo ipsa, iusto maxime
          mollitia, neque nostrum officia optio saepe sapiente similique, sit. Assumenda nam odio officia. Et, illum.
        </span>
      </div>
    </div>
  </div>
</div>
<div>
  <img class="w-full" src="assets/images/about/group.png" alt="map">
</div>
